.img-container {
    width: 700px;
    height: 400px;
    overflow: hidden;
}

.my-element {
    height: 100px;
    /* Adjust as needed */
    background-color: red;
    /* Just for demonstration */
}

.test-scroll {
    height: 500vh;
}